<!DOCTYPE html>
<html lang="en">
  <head>
    {# This is the base template for the site–other templates extend this one #}

    <meta charset="utf-8" />
    <link rel="icon" href="/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your new 11ty blog" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <a rel="me" href="https://mastodon.gamedev.place/@wheelsbot">Mastodon</a>
    <title>{{ title }}</title>
  </head>
  <body>
    <div id="container">
      <div id="headerArea">
        <div id="masthead"><a href="/">Wheelsblog V7</a></div>
        <div id="header">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/posts">All Posts</a></li>
          </ul>
        </div>
      </div>
      <div id="flex">
        <main>
          {{ content | safe }}
        </main>
      </div>
    </div>
  </body>
</html>
